<sl-carousel></sl-carousel>
<p></p>
<h1>About the STEAM Lab</h1>
<blockquote>
    "(It's) so they can get that career education and so they can get that innovative, hands-on instruction and
    experience that interaction with our local industries and local businesses provide," Hage said. "Most of all, it's
    so they can get that experience with our very exceptionally talented teachers."
</blockquote>
<p><a class="citation"
        href="https://www.wvnews.com/fairmontnews/news/marion-co-west-virginia-schools-holds-ribbon-cutting-for-new-steam-room/article_8ada6bee-9648-11ec-bccd-7f6ad98e149c.html">-
        The Fairmont News</a>
</p>
<p></p>
<blockquote>
    "Thank you seems so inadequate, but those two words mean so much," Mary Jo Thomas said. "Thank you to Marion County
    for having the confidence in us to vote for levies and bonds that allow us to have all of this coming back. Our
    partners with the county and the city have been fantastic. ... I cannot thank you all enough who put all of this
    together."
</blockquote>
<p><a class="citation"
        href="https://www.wvnews.com/fairmontnews/news/marion-co-west-virginia-schools-holds-ribbon-cutting-for-new-steam-room/article_8ada6bee-9648-11ec-bccd-7f6ad98e149c.html">-
        The Fairmont News</a>
</p>